@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .masonry-3-col {
      column-count: 3;
      column-gap: 1em;
    }
    .masonry-2-col {
      column-count: 2;
      column-gap: 1em;
    }
    .break-inside {
      break-inside: avoid;
    }
}

html {
  width: 100%;
}

.social-form input, .social-form textarea {
  display: block;
  margin: 1em 0;
  border: 0.75px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: inset 0px 0.5px 3px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.social-form button {
  height: 33.06px;
  left: 51px;
  top: 2438px;
  color: #fff;
}

.social-form .submit-btn {
  background: #EB4C27;
}

.social-form .upload-btn {
  background: black;
}

.small-title {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #F0F0F0;
  height: 2px;
  width: 2px;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 50px;
  outline: 1px solid black;
}


.page-title {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 46px;
  letter-spacing: -0.05em;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.section-title {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 37px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #000000;
}

.section-title h1 {
  font-size: 36px;
}

.section-title h2 {
  font-size: 26px;
  line-height: 42px;
}

.section-title h3 {
  font-size: 24px;
  font-weight: 400;
  color: #858585;
}

.thumbnail-text {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  /* or 100% */
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #000000;
}

.carousel {
  display: inline-flex;
  overflow-x: hidden;
  /*  scroll snap is a great feature which will center the image on snap on touch screen devices  */
  scroll-snap-type: x mandatory;
  /* all below will hide the scrollbar on all browsers.    */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

body {
  font-family: "Karla", sans-serif;
}

.logly-title {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 0.5;
  padding: 0;
  text-align: center;
  letter-spacing: -0.03em;
  color: #000000;
}

.section-title {
  font-family: "Karla", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: left;
}

.section-link-text {
  font-family: "Karla", sans-serif;
  cursor: pointer;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.02em;
  text-align: left;
}

.experience-title {
  font-family: "Karla", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.05em;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.formatted-content a {
  text-decoration: underline;
  color: #046bbf;
}

.formatted-content p {
  margin-bottom: 16px;
}
